body{
    font-family:'Poppins', 'sans-serif'
}


@keyframes fadeIn {
  from {opacity:0;}
  to {opacity:1;}
}

#logo{
  animation:fadeIn 3s;
}

@media(prefers-reduced-motion){
  #logo{
    animation:none;
}
}

/************MOBILE VIEW****************/
header{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  flex-wrap:wrap;
}
.nav_links{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  flex-wrap:wrap;
}
header img{
  width:100%;
}
.pricing{
  display:flex;
  justify-content:center;
  flex-direction:row; /*column or row*/
  align-items:stretch;
  flex-wrap:wrap;
}
.card{
  width:100%;
}
.gallery{
  display:flex;
  justify-content:center;
  flex-direction:column;
  align-items:center;
}

/************DESKTOP VIEW**************/
@media screen and (min-width:700px){
  header{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
    flex-wrap:wrap;
  }
  .nav_links{
    display:flex;
    flex-direction:row;
    width:100%;
  }
  .pricing{
    display:flex;
    justify-content:center;
    flex-direction:row; /*column or row*/
    align-items:stretch;
    flex-wrap:wrap;
  }
  .gallery{
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:stretch;
    flex-wrap:wrap;
  }
  .gallery img{
    width:300px;
    height:auto;
  }
  .card{
    width:300px;
  }

  header img{
    width:300px;
    height:auto;


  }

}
